
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container-fluid p-5">
    <div class="row gx-5">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100 rounded" src="~/Content/img/about.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="mb-4">
                <h5 class="text-primary text-uppercase">About Us</h5>
                <h1 class="display-3 text-uppercase mb-0">Welcome to Sagalassos</h1>
            </div>
            <h4 class="text-body mb-4">
                Sagalassos LTD. has set its vision as the integration of wood with art, ensuring that it reaches the hands of the artist in its finest quality.

                Sagalassos is a company specialized in high-quality wood products. We specialize in the production and supply of finger-jointed panels, wooden pallets, and timber.

                Our mission is to provide our customers with superior products that meet their expectations. With years of experience and expertise in the industry, we continuously strive to deliver the best quality in wood products.

                We are committed to adhering to sustainable forest management principles when selecting the wood materials for our products. We recognize our responsibility to protect natural resources and leave a solid environment for future generations.

                Customer satisfaction is of utmost importance to us, and we make every effort to understand our customers' needs and provide them with the best solutions. Through our flexibility and customization capabilities, we offer a wide range of product options to meet our customers' specific requirements.

                We value teamwork and encourage the continuous development of our employees. Our dedicated and experienced team works diligently to ensure the quality of our products and the efficiency of our services.

                At Sagalassos, our goal is to provide our customers with reliable, high-quality wood products at competitive prices. We strive to maintain our position as an industry leader through our high standards in production processes, prompt deliveries, and customer-centric approach.
                We assure potential customers that we will fulfill our commitment to delivering quality wood products and excellent service.

                For more information, please feel free to contact us.

            </h4>

        </div>
    </div>
</div>
      
<!-- About End -->
<br>
<br>

