
@{
    ViewBag.Title = "Fınger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid bg-primary p-5 bg-hero mb-5">


</div>




<!-- Sidebar Start -->
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            FINGER JOINTED PANEL
                        </h2>
                    </div>
                    <p>
                        We process pine trees sourced from Turkey into solid panels in accordance with international standards.

                        All products in the finger jointed panel category that you order are wrapped with special shrink wrap and delivered to you.

                        The technical specifications of our solid panels are outlined below:<br>Material: Pine<br>

                        <br>!Quality: A/B, B/B, C/C<br>
                        <br>Glue: D3/D4<br>
                        <br>Humidity: %10 +-2<br>
                        <br>Thickness: 18mm and 30mm<br>
                        <br>Width: 1210mm<br>
                        <br>Length: 3500mm<br>
                    </p>


                </div>
            </div>
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/Content/img/galeri2.jpg" alt="Image" style="max-width: 100%; height: auto;">
                </div>
            </div>

        </div>
    </div>
</section>
<br>
<br>





