
@{
    ViewBag.Title = "Pallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid bg-primary p-5 bg-hero mb-5">


</div>
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            PALLET
                        </h2>
                    </div>
                    <p>
                        The quality of our pallet production at our facility is certified by the European Pallet Association (EPAL).
                        <br><br>

                        <br>
                        We guarantee pallet shipments in accordance with EPAL standards.<br>


                    </p>


                </div>
            </div>
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/Content/img/carousel-2.jpg" alt="Image" style="max-width: 100%; height: auto;">

                </div>
            </div>

        </div>
    </div>
</section>
<br>
<br>



