
@{
    ViewBag.Title = "Timber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid bg-primary p-5 bg-hero mb-5">


</div>
    </div>



<!-- Sidebar Start -->
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            TIMBER
                        </h2>
                    </div>
                    <p>
                        We process the pine trees sourced from Turkey into solid panels according to international standards.<br><br>

                        <br>All products in the finger jointed panel category that you order are wrapped with special shrink wrap and delivered to you.<br>


                    </p>


                </div>
            </div>
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/Content/img/timber1.jpg" alt="Image" style="max-width: 100%; height: auto;">

                </div>
            </div>

        </div>
    </div>
</section>
<br>
<br>



